.container {
  border: 2px solid pink;
}

/* space -> descendants
> -> Direct Children
+ Sibling ( Next One)


*/
/* Descandants */
.container p {
}

/* Direct Child */
.container > p.child {
  font-size: 20px;
  color: red;
}

/* + selector -> Sibling Connection */
.fixed-child + p {
  border: 1px solid violet;
}
