* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.first-bg {
  background-image: url("./images/Homepage-Model-3-Desktop-RHD.webp");
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  position: relative;
}

.logo {
  margin-left: 15px;
}
nav.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}
.first-links ul,
.second-links ul {
  list-style: none;
}
.first-links ul li,
.second-links ul li {
  margin: 0 10px;
  display: inline;
  transition: 0.33s ease;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.254);
}
.overlay {
  position: absolute;
  background: transparent;
  display: flex;
  height: 96vh;
  width: 98vw;
  top: 4%;
  left: 0%;
  justify-content: center;
  z-index: 4;
}

.buttons {
  position: absolute;
  bottom: 0%;
  left: auto;
  width: 378px;
}
.buttons button {
  margin: 0 20px;
  width: 35%;
  padding: 5px 12px;
  background-color: rgba(23, 26, 32, 0.8);

  color: #fff;
}
.buttons button.cream {
  background-color: rgb(214, 211, 211);
  color: rgba(23, 26, 32, 0.8);
  border: none;
}
.overlay .heading {
  position: absolute;
  top: 10%;
  left: auto;
  text-align: center;
}
